output {
  if [event][type] == "suricata" {
    if [event][subtype] == "stats" {
      elasticsearch {
        hosts => [ "${SYNLITE_SURICATA_ES_HOST:127.0.0.1:9200}" ]
        user => "${SYNLITE_SURICATA_ES_USER:elastic}"
        password => "${SYNLITE_SURICATA_ES_PASSWD:changeme}"
        index => "suricata_stats-1.1.0-%{+YYYY.MM.dd}"
        template => "${SYNLITE_SURICATA_TEMPLATE_PATH:/etc/logstash/synlite_suricata/templates}/synlite_suricata_stats.template.json"
        template_name => "synlite-suricata_stats-1.1.0"
        template_overwrite => "true"
      }
    } else {
      elasticsearch {
        hosts => [ "${SYNLITE_SURICATA_ES_HOST:127.0.0.1:9200}" ]
        user => "${SYNLITE_SURICATA_ES_USER:elastic}"
        password => "${SYNLITE_SURICATA_ES_PASSWD:changeme}"
        index => "suricata-1.1.0-%{+YYYY.MM.dd}"
        template => "${SYNLITE_SURICATA_TEMPLATE_PATH:/etc/logstash/synlite_suricata/templates}/synlite_suricata.template.json"
        template_name => "synlite-suricata-1.1.0"
        template_overwrite => "true"
      }
    }
  }
  if [event][module] == "zeek" {
    elasticsearch {
      hosts => [ "${SYNLITE_SURICATA_ES_HOST:127.0.0.1:9200}" ]
      index => "zeek-ids-filebeat-module-%{+YYYY.MM.dd}"
      template => "${SYNLITE_SURICATA_TEMPLATE_PATH:/etc/logstash/synlite_suricata/templates}/zeek.template.json"
      template_name => "zeek-ids"
      template_overwrite => "true" 
    }  
  }
}
